/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

/* Black */
/* color: #000000; */
/* White */
/* color: #FFFFFF; */
/* Dark Grey */
/* color: #767171 */
/* Light Grey */
/* color: #E7E6E6 */
/* Mint */
/* color: #B8E0C9;  */
/* Green */
/* color: #125A00 */

html, body {
	margin: 0;
	padding: 0;
  }
  
  .pic-ctn {
	width: 100%;
	height: auto;
  }
  
  @keyframes display {
	0% {
	  transform: translateX(200px);
	  opacity: 0;
	}
	2% {
	  transform: translateX(0);
	  opacity: 1;
	}
	4% {
	  transform: translateX(0);
	  opacity: 1;
	}
	6% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
  }
  
  .pic-ctn {
	position: relative;
	width: 50%;
	height: 300px;
	margin-top: 15vh;
  }
  
  .pic-ctn > img {
	position: absolute;
	top: 0;
	left: calc(50%);
	opacity: 0;
	animation: display 132s infinite;
	max-height: 100%;
  }
  
  img:nth-child(2) {
	animation-delay: 6s;
  }
  img:nth-child(3) {
	animation-delay: 12s;
  }
  img:nth-child(4) {
	animation-delay: 18s;
  }
  img:nth-child(5) {
	animation-delay: 24s;
  }
  img:nth-child(6) {
	animation-delay: 30s;
  }
  img:nth-child(7) {
	animation-delay: 36s;
  }
  img:nth-child(8) {
	animation-delay: 42s;
  }
  img:nth-child(9) {
	animation-delay: 48s;
  }
  img:nth-child(10) {
	animation-delay: 54s;
  }
  img:nth-child(11) {
	animation-delay: 60s;
  }  
  img:nth-child(12) {
	animation-delay: 66s;
  }  
  img:nth-child(13) {
	animation-delay: 72s;
  }  
  img:nth-child(14) {
	animation-delay: 78s;
  }
  img:nth-child(15) {
	animation-delay: 84s;
  }
  img:nth-child(16) {
	animation-delay: 90s;
  }
  img:nth-child(17) {
	animation-delay: 96s;
  }
  img:nth-child(18) {
	animation-delay: 102s;
  }  
  img:nth-child(19) {
	animation-delay: 108s;
  }  
  img:nth-child(20) {
	animation-delay: 114s;
  }  
  img:nth-child(21) {
	animation-delay: 120s;
  }
  img:nth-child(22) {
	animation-delay: 126s;
  }

  


body {
	background: url("../images/background_br.png") right bottom no-repeat, url("../images/background_tl.png") left top no-repeat;
	/* background-image: url("../images/background.png"); */
	background-size: 40% auto;
	/* background-repeat: no-repeat; */
	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
}

#header {
	background-color: #B8E0C9;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}	

ul {
    display: flex;
    justify-content: flex-end;
	font-family: 'Lato', sans-serif;
}
    
    
 ul li {
   display: list-item;
   list-style: none;
   padding: 5px;
   margin: 0 10px;
   font-size: 20px;
 }

ul li:hover {
   color: #FFFFFF;
 }
 
 ul li:active {
	color: #FFFFFF;
 }
 
 
 #logo-main {
	display: flex;
	justify-content: center;
 }
 
 #logomainimage {
	width: 40%;
 }
 
  #logomainimagehome {
	width: 60%;
 }
 
h1 {
	text-align: center;
	color: #767171;
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
}

h2 {
	text-align: center;
	color: #125A00;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

h3 {
	text-align: center;
	color: #125A00;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	line-height: 0.5;
}

p {
	text-align: center;
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

#lovestory {
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 60%;
	font-family: 'Raleway', sans-serif;
}

#footer {
	position: fixed;
	display: block;
	text-align: center;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #e7e6e6;
	color: #000000;
	font-size: 20px;
}

#footertext {
	padding: 0px;
	margin: 5px;
	font-family: 'Lato', sans-serif;
}

br {
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:active {
	color: #FFFFFF;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 25%;
    max-width: 25%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 80%;
    max-width: 80%;
  }
}




table {
	/* margin: 0% 20% 0% 20%; */
	font-family: 'Lato', sans-serif;
	padding: 0% 20%;
	min-width: 60%;
}

table .right {
	text-align: right;
	
}
 